<?xml version="1.0"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="controller_xacro" params="">
        <link
            name="controller_link">
            <inertial>
            <origin
                xyz="-0.0513531699176342 0.0474963429876354 0.0444073306956666"
                rpy="0 0 0" />
            <mass
                value="0.0335306890026228" />
            <inertia
                ixx="1.91764077163967E-05"
                ixy="9.52727501026462E-07"
                ixz="-5.8438470510299E-08"
                iyy="2.19811763093923E-05"
                iyz="3.14216738930503E-07"
                izz="4.00893380787536E-05" />
            </inertial>
            <visual>
            <origin
                xyz="0 0 0"
                rpy="0 0 0" />
            <geometry>
                <mesh
                filename="package://fishbot_description/meshes/controller_link.STL" />
            </geometry>
            <material
                name="">
                <color
                rgba="0.741176470588235 0.901960784313726 0.956862745098039 1" />
            </material>
            </visual>
            <collision>
            <origin
                xyz="0 0 0"
                rpy="0 0 0" />
            <geometry>
                <mesh
                filename="package://fishbot_description/meshes/controller_link.STL" />
            </geometry>
            </collision>
        </link>
        <joint
            name="controller_joint"
            type="fixed">
            <origin
            xyz="-0.00035718 -0.04684 0.0515"
            rpy="0 0 0" />
            <parent
            link="base_link" />
            <child
            link="controller_link" />
            <axis
            xyz="0 0 0" />
        </joint>
    </xacro:macro>
</robot>